/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    width: 20px;
    background-color: #222;
    padding: 5px;
    margin: 5px;
}

li.revealed {
    background-color: #EEE;
    color: #222;
}

