/* This file is for your main application css. */

@import "~milligram/dist/milligram";

h1 {
    text-align: center;
}

div#container {
    width: 70%;
    margin: auto;
}

ul {
    width: 100%;
    list-style-type: none;
}

li {
    width: 20%;
    height: 100px;
    text-align: center;
    border: 10px double white;
    border-radius: 10px;
    margin: 5px;
    padding: 30px;
}

li.hidden {
    display: inline-block;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/226/311/small/10996.jpg");
}

li.hidden:hover {
    background: linear-gradient(rgb(0,0,0,0.25), rgb(0,0,0,0.25)),
    url("https://static.vecteezy.com/system/resources/thumbnails/000/226/311/small/10996.jpg");
}

li.revealed {
    display: inline-block;
    background-color: #EEE;
    color: #222;
}

